@media (min-width: 375px) {
    #ln-min {
        height: 56px;
        margin: 0 0 18px 0;
    }

    #ln-max {
        height: 78px;
        margin: 0 0 15px 0;
    }

    #last-name-purple {
        width: 460px;
        height: 56px;
        border-radius: 5px;
        border: 2px solid #DEDEDE;
        padding: 0 0 0 25px;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.25px;
        outline: none;
    }

    #last-name-purple:focus {
        border: 2px solid var(--normal-purple);
        background-color: white;
    }

    #last-name-red {
        width: 460px;
        height: 56px;
        border-radius: 5px;
        border: 2px solid var(--light-red);
        outline: none;
        margin: 0;
        padding: 0 0 0 25px;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.25px;
    }

    #l-img-p-hide {
        display: none;
    }

    #l-img-p-show {
        height: 24px;
        width: 460px;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    #show-last-p {
        color: #FF7979;
        font-size: 11px;
        margin: 6px 0 0 0;
        padding: 0;
        height: 17px;
        width: 160px;
        text-align: right;
    }

    #hide-last-p {
        display: none;
    }

    #last-exclamation-hidden {
        display: none;
    }

    #last-exclamation-show {
        display: block;
        width: 24px;
        height: 24px;
        margin: 0;
        transform: translate(145px, -40px);
    } 
}

@media (max-width: 375px) {
    #ln-min {
        height: 56px;
        margin: 0 0 18px 0;
    }

    #ln-max {
        height: 78px;
        margin: 0 0 15px 0;
    }

    #last-name-purple {
        width: 279px;
        height: 56px;
        border-radius: 5px;
        border: 2px solid #DEDEDE;
        padding: 0 0 0 25px;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.25px;
        outline: none;
    }

    #last-name-purple:focus {
        border: 2px solid var(--normal-purple);
        background-color: white;
    }

    #last-name-red {
        width: 277px;
        height: 56px;
        border-radius: 5px;
        border: 2px solid var(--light-red);
        outline: none;
        margin: 0;
        padding: 0 0 0 25px;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.25px;
    }

    #l-img-p-hide {
        display: none;
    }

    #l-img-p-show {
        height: 24px;
        width: 279px;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    #show-last-p {
        color: #FF7979;
        font-size: 11px;
        margin: 6px 0 0 0;
        padding: 0;
        height: 17px;
        width: 160px;
        text-align: right;
    }

    #hide-last-p {
        display: none;
    }

    #last-exclamation-hidden {
        display: none;
    }

    #last-exclamation-show {
        display: block;
        width: 24px;
        height: 24px;
        margin: 0;
        transform: translate(145px, -40px);
    } 
}