@media (min-width: 375px) {
  button {
    width: 460px;
    height: 56px;
    background-color: var(--lime-green);
    color: white;
    font-size: 15px;
    line-height: 26px;
    border-radius: 5px;
    border: none;
    margin: 0;
    box-shadow: inset 0px -5px 3px #97979763;
  }

  button:hover {
    background-color: #88e1ba;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  button {
    width: 279px;
    height: 56px;
    background-color: var(--lime-green);
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px -5px 3px #97979763;
  }
}